<html>

<head>
  <title>Sign up page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- styles -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="stylesheets/style.css" rel="stylesheet" media="screen">

  <title>Login</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
  <script>
  $(document).ready(function() {
    $("#signup_submit").click(function() {

      var email, pass, first_name, last_name;
      email = $("#Email").val();
      pass = $("#password").val();
      first_name = $("#first_name").val();
      last_name = $("#last_name").val();
      //before send it to the db, check if everything are here.
      if (!email == "" && !pass == "" && !first_name == "" && !last_name == "") {
        $.post("http://localhost:3000/signup/submit", {
          email: email,
          password: pass,
          first_name: first_name,
          last_name: last_name
        }, function(data) {
          alert(data);
          if (data == "Sign up success") {
            window.location = "http://localhost:3000/users";
          } else {
            window.location = "http://localhost:3000/signup";
          }
        });
      }
    });
  });
  $(document).ready(function() {

    $('#Email').blur(function() {
      $.ajax({
        type: "POST",
        url: "http://localhost:3000/signup/check_email_exists",
        data: {
          email: $("#Email").val()
        },
        success: function(result) {
          if (result == "OK") {
            $("#email_status").html("This email is ok");
          } else {
            $("#email_status").html("This email address is not available");
          }
        }
      });
    });
  });
  </script>
<style>
#signup_submit{
}
.center {
 	 	 text-align:center;
}
.form-control{
   font-size:1em;
}
.header{
   color:#91B1DC;
}

</style>
</head>

<body>
  <div class="container">


<div class="row">

 	 	 <div class="col-md-6 col-md-offset-3" id="topRow">
		 <div class="header center">
      <h1>Welcome!^.^</h1>
      <hr>
      <h1 class="lead">Movie DB Sign Up Page</h1>
    </div>
    <div class="form-horizontal" role="form">

        <div class="form-group">
		  <label for="first_name">First Name</label>
          <input type="text" id="first_name" class="form-control input-lg" placeholder="First name">
          </div>
		  <div class="form-group">
		  <label for="last_name">Last Name</label>
          <input type="text" id="last_name" class="form-control input-lg" placeholder="Last name">
          </div>
		  <div class="form-group">
		   <label for="last_name">Email Address</label>
          <input type="email" name="Email" id="Email" class="form-control input-lg" placeholder="Your Email">
          <span id="email_status"></span>
          </div>
          <div class="form-group">
		   <label for="last_name">Password</label>
          <input type="password" id="password" class="form-control input-lg" placeholder="Password">
        </div>
		<div class="button center">
        <button type="submit" id="signup_submit" class="btn btn-primary center ">Sign up</button>
        </div>
    </div>
  </div>
  </div>
  </div>
</body>

</html>
